@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

#canvasId {
    position: fixed;
    background-image: url(./images/background.jpeg);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#witchRight, #witchLeft, #witchUp, #witchDown{
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #74FCB5;
    font-family:'Mountains of Christmas', cursive;
    font-size: 50px;
    margin: 0 40px;
}

#header1 {
    text-align: center;
}

#header2 {
    text-align: center;
}

#gameTitle {
    color: #74FCB5;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 80px;
    width: 100%;
    text-align: center;
    margin-top: 0%;
}

#headerLeftPumpkinImg {
    height: 90px;
    width: 100px;
    position: fixed;
    left: 15%;
    top: 11%;
}

#headerRightPumpkinImg {
    height: 90px;
    width: 100px;
    position: fixed;
    right: 15%;
    top: 11%;
}

#footerLeftPumpkinImg {
    height: 90px;
    width: 100px;
    position: fixed;
    left: 15%;
    bottom: 10%;
}

#footerRightPumpkinImg {
    height: 90px;
    width: 100px;
    position: fixed;
    right: 15%;
    bottom: 10%;
}

#middle-section {
    position: fixed;
    width: 70%;
    height: 80%;
    top: 11%;
    left: 15%;
    background-color: rgb(171,192,189, 0);
    border: 1px solid #74FCB5;
}

#body-paragraph {
    position: fixed;
    color: #74FCB5;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 35px;
    width: 70%;
    left: 15%;
    bottom: 20%;
    text-align: center;
    margin: auto;
}

#center-witch {
    position: fixed;
    height: 15%;
    top: 47%;
    left: 42%;
}

#rain-image1 {
    position: fixed;
    left: 41.5%;
    top: 30%;
    width: 180px;
    height: 240px;
    z-index: 3;
}

#rain-image2 {
    position: fixed;
    left: 47.5%;
    top: 32%;
    width: 180px;
    height: 240px;
    z-index: 2;
}

#start-btn-div {
    display: flex;
    justify-content: center;
}

#start-button {
    position: absolute;
    bottom: 1%;
    background-color: Transparent;
    color: #74FCB5;
    border: 1px solid #74FCB5;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 40px;
}

#footer-images {
    position: fixed;
    bottom: 2%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
}