#canvasId {
    position: absolute;
    background-image: url(./images/background.jpeg);
    background-position: 0%, 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid blue;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#start-button {
    z-index: 1;
}